[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-compressor = "==2.3"
argon2-cffi = "==19.2.0"
django-sass-processor = "==0.7.5"
Django = "==3.0.1"
configparser = "==4.0.2"
flake8 = "*"
celery = "*"
redis = "*"
influxdb = "*"

[requires]
python_version = "3"
