django-compressor==2.4
argon2-cffi==19.2.0
django-sass-processor==0.8
Django==3.0.7
configparser==4.0.2
flake8==3.7.9
celery==4.4.*
redis==3.4.*
influxdb==5.2.*
git+https://github.com/timonweb/django-bulma@fb849781123a3a4ce9329e2f1423b2ac874aed21#egg=django-bulma
libsass==0.19.4