{% extends "base.html" %}
{% load i18n %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">
                        Login
                    </p>
                </div>
                <div class="card-content">
                    {% if form.errors %}
                        <div class="notification is-danger">
                            Your username and password combination does not match our records. Please try again.
                        </div>
                    {% endif %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="field">
                            <label for="{{ form.username.id_for_label }}" class="label">{% trans 'E-Mail' %}:</label>
                            <div class="control has-icons-left">
                                <input class="input" id="{{ form.username.id_for_label }}"
                                       name="{{ form.username.name }}" type="email"
                                       placeholder="{% trans 'E-Mail' %}"/>
                                <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="{{ form.password.id_for_label }}" class="label">{% trans 'Password' %}:</label>
                            <div class="control has-icons-left">
                                <input id="{{ form.password.id_for_label }}" name="{{ form.password.name }}"
                                       class="input" type="password" placeholder="{% trans 'Password' %}"/>
                                <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            </div>
                        </div>
                        <div class="field columns is-centered" style="margin: 0">
                            <div class="control">
                                <button class="button is-primary" value="login">{% trans 'Submit' %}</button>
                            </div>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            <a href="{% url 'password_reset' %}">{% trans 'Lost password' %}?</a>
                        </span>
                    </p>
                    <p class="card-footer-item">
                        <span>
                            <a href="{% url 'accounts:signup' %}">{% trans 'Sign up' %}?</a>
                        </span>
                    </p>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}