{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="card">
                <div class="card-header">
                    <p class="card-header-title">
                        {% trans 'Password reset' %}
                    </p>
                </div>
                <div class="card-content">
                    <div class="notification is-success">
                        <p>{% trans "We've e-mailed you instructions for changing your password. If they haven't arrived in a few minutes, check your spam folder and if it isn't there mail to" %}
                            <a href="mailto:contact@opendatamap.net">contact (at) opendatamap.net</a></p>
                    </div>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span>
                            <a href="{% url 'login' %}">Log in?</a>
                        </span>
                    </p>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}