{% extends 'project/project_base.html' %}
{% load i18n %}
{% block innercontent %}
    <section class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="card">
                    <div class="card-content">
                        {% if form.errors %}
                            <div class="notification is-danger">
                                {% if form.errors.name %}
                                    {% trans "The project must have a name" %}
                                {% else %}
                                    {% for field, errors in form.errors.items %}
                                        {{ errors }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <label for="{{ form.name.id_for_label }}"
                                       class="label">{% trans 'Project name' %}:</label>
                                <div class="control">
                                    <input required class="input" id="{{ form.name.id_for_label }}"
                                           name="{{ form.name.name }}" value="{{ form.name.value }}" type="text"
                                           placeholder="{% trans 'Project name' %}"/>
                                </div>
                            </div>
                            <div class="field columns is-centered" style="margin: 0">
                                <div class="control">
                                    <button class="button is-primary" value="login">{% trans 'Submit' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}