{% extends 'project_base.html' %}
{% load i18n %}
{% block innercontent %}
    <section class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="card">
                    <div class="card-content">
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">{% trans "Name" %}</label>
                                <div class="control">
                                    <input class="input" type="email" value="{{ project_member.user.first_name }} {{ project_member.user.last_name }}" disabled>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">{% trans "E-Mail" %}</label>
                                <div class="control">
                                    <input class="input" type="email" value="{{ project_member.user.email }}" disabled>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="{{ form.role.id_for_label }}">{{ form.role.label }}</label>
                                <div class="control">
                                    <div class="select">
                                        {{ form.role }}
                                    </div>
                                </div>
                            </div>
                            <div class="field columns is-centered" style="margin: 0">
                                <div class="control">
                                    <button class="button is-primary" value="login">{% trans 'Submit' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}s