body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer.footer {
    padding: 1.5rem;
}

.card .card-footer.level {
    padding: 10px 0;
}

.new-card {
    border: dotted #999999;
    box-shadow: none;
    height: 100%;

    .card-content {
        height: 100%;
        align-items: center;

        div.has-text-centered {
            width: 100%;

            p {
                color: #999999;
            }
        }
    }
}

table tbody th .control .select {
    width: 100%;

    select {
        width: 100%;
    }
}

aside.menu {
    padding: 0;
}